<div class="grid">
  <% (0..6).each do |y| %>
    <div class="row justify-content-center">
      <% (0..6).each do |x| %>
        <% cell = cells.find { |c| c.x == x && c.y == y } %>
        <div class="col cell text-center pixel-cell">
          <% if cell&.content&.match(/^\d+$/) %>
            <div class="emoji">
              <%= cell.content = 'ðŸ§' %>
            </div>
            <div class="cell-content">
              <%= cell.content %>
            </div>
          <% elsif cell %>
            <div class="emoji">
              <%= render_cell_content(cell.content) %>
            </div>
          <% else %>
            <div class="emoji">
              <%= render_cell_content('empty') %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
