<h1>Multiplayer Menu</h1>
<div class="multiplayer-options">
  <%= button_to 'Host a Game', host_game_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'Join a Game', join_game_path, method: :get, class: 'btn btn-secondary' %>
</div>
