<h1><%= @world.name %></h1>
<div class="grid">
  <% (0..6).each do |y| %>
    <div class="row">
      <% (0..6).each do |x| %>
        <% cell = @cells.find { |c| c.x == x && c.y == y } %>
        <div class="cell">
          <%= cell.content %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
